<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <!-- Let's add Vue here -->
        <div id="app">

            <h1>Contact Form</h1>
            <p><strong>{{ form.statusText }}</strong></p>
            <form method="post" action="#">
                <div>
                    <label for="name">Name</label>
                    <input name="name" id="name" v-model="form.name"/>
                    <p>{{ validateName }}</p>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input name="email" id="email" v-model="form.email"/>
                    <p>{{ validateEmail }}</p>
                </div>
                <div>
                    <label for="message">Message</label>
                    <textarea name="message" id="message" v-model="form.message"></textarea>
                    <p>{{ validateMessage }}</p>
                </div>

                <button @click.prevent="validateForm">Send Form</button>
            </form>

            <h2>Form Details</h2>

            <!-- DETAILS HERE -->
            <p>The name is: {{ form.name }}</p>
            <p>The email is: {{ form.email }}</p>
            <p>The message is: {{ form.message }}</p>

        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    form: {
                        name: '',
                        email: '',
                        message: '',
                        statusText: ''
                    }
                },
                methods: {
                    validateForm: function() {
                        if (this.form.name === '' || this.form.email === '' || this.form.message === '') {
                            this.form.statusText = 'Form not submitted';
                        } else {
                            this.form.statusText = 'Form submitted successfully';
                        }
                    }
                },
                computed: {
                    validateName: function() {
                        if (!this.form.name.length && this.form.statusText.length !== 0) {
                            return 'Name is required';
                        }
                    },
                    validateEmail: function() {
                        if (!this.form.email.length && this.form.statusText.length !== 0) {
                            return 'Email is required';
                        }
                    },
                    validateMessage: function() {
                        if (!this.form.message.length && this.form.statusText.length !== 0) {
                            return 'Message is required';
                        }
                    },
                }
            });
        </script>
    </body>
</html>